body {
  background-color: #f7f5eb;
}

hr {
  border-style: dotted none none;
  border-color: grey;
  border-width: 5px;
  width: 5%;
}

h1 {
  color: #ff9494;
}

h3 {
  color: #82b0c4;
}
